# python virtual environment
**/.venv/

# python thingy
**/__pycache__/

# ignore all log files
**/*.log

# server file storage
/server/server_root/*
# still include the server_root directory itself
!/server/server_root/

