# python virtual environment
**/.venv/

# python thingy
**/__pycache__/

# ignore all log files
**/*.log

# ignore excel files
**/*.xlsx

# server file storage
/server/server_root/*
# still include the server_root directory itself
!/server/server_root/


# don't ignoresample files so empty directories are tracked
!**/sample.txt

**/.idea/